name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Sync submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive --depth 1
          ls -la lib
          ls -la lib/openzeppelin-contracts-upgradeable/contracts/security
          test -f lib/openzeppelin-contracts-upgradeable/contracts/security/PausableUpgradeable.sol
          test -f lib/openzeppelin-contracts-upgradeable/contracts/security/ReentrancyGuardUpgradeable.sol
      - name: Run tests
        run: forge test -vvv
